@import "/styles/scss/_variables";
@import "/styles/scss/_mixin";
@import "/styles/scss/_utilities";

@include mq(s) {
    .box__order_flow{
        margin: 100px auto 0;
        width: $mainWidth_sp;
        h2{
            @include fts(ja, title);
            text-align: center;
        }
        ul.contents__order_flow{
            margin: 50px 0 0;
            li{
                margin: 40px auto 0;
                padding: 0 0 40px;
                width: 100%;
                border-bottom: 3px solid c(nc, b1);
                display: flex;
                align-items: center;
                flex-direction: column;
                position: relative;
                &:last-child{
                    border-bottom: 0;
                }
                &::after{
                    content: '';
                    width: 0;
                    height: 0;
                    border-right: 10px solid transparent;
                    border-left: 10px solid transparent;
                    border-top: 13px solid c(nc, b1);
                    position: absolute;
                    bottom: -13px;
                    left: calc(50% - 10px);
                }
                &:last-child::after{
                    border: 0;
                }
                .heading{
                    width: 100%;
                    text-align: center;
                    .number{
                        @include fts(en, numberling);
                        &::after{
                            content: '';
                            margin: 2px auto 0;
                            width: 60px;
                            height: 4px;
                            background-color: c(nc, b1);
                            display: block;
                        }
                    }
                    h3{
                        margin: 20px 0 0;
                        @include fts(ja, title);
                    }
                }
                .caption{
                    margin: 30px auto 0;
                    width: $baseTextWidth_sp;
                    p{
                        margin: 0 0 20px;
                        @include fts(ja, text);
                    }
                }
            }
        }
        .layout__button{
            margin: 20px auto 0;
            width: 100%;
        }
      }
}

@include mq(m) {
    .box__order_flow{
        margin: 200px auto 0;
        width: $wm;
        h2{
            @include fts(ja, lead);
        }
        ul.contents__order_flow{
            margin: 50px 0 0;
            li{
                margin: 40px auto 0;
                padding: 0 0 40px;
                width: $ws;
                border-bottom: 3px solid c(nc, b1);
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                &:last-child{
                    border-bottom: 0;
                }
                &::after{
                    content: '';
                    width: 0;
                    height: 0;
                    border-right: 10px solid transparent;
                    border-left: 10px solid transparent;
                    border-top: 13px solid c(nc, b1);
                    position: absolute;
                    bottom: -13px;
                    left: calc(50% - 5px);
                }
                &:last-child::after{
                    border: 0;
                }
                .heading{
                    width: 40%;
                    text-align: center;
                    .number{
                        @include fts(en, numberling);
                        &::after{
                            content: '';
                            margin: 2px auto 0;
                            width: 60px;
                            height: 4px;
                            background-color: c(nc, b1);
                            display: block;
                        }
                    }
                    h3{
                        margin: 20px 0 0;
                        @include fts(ja, title);
                    }
                }
                .caption{
                    width: 60%;
                    p{
                        margin: 0 0 20px;
                        @include fts(ja, text);
                    }
                }
            }
        }
        .layout__button{
            margin: 50px auto 0;
            width: $wxxs;
        }
      }
}

